Hello {{ ansible_facts['user_id'] }}.
Welcome to {{ ansible_facts['distribution'] }} version {{ ansible_facts['distribution_version'] }} system.
If you have questions, plese contact the system owner: {{ system_owner }}.